@{
    ViewBag.Title = "Macro Trackr!";
}

<div class="jumbotron">
    <h1>Welcome to Macro Trackr!</h1>
    <p class="lead">Macro Trackr is an application that allows you to search for restaurant menu items that fit macronutrient restraints that you define.</p>
    
</div>

